*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navy: #5a4ff6;
    --blue: #27aae1;
    --lightgray: whitesmoke;
    --black: rgb(32, 32, 32);
    --lighten: inset 0 0 100px 100px rgba(255, 255, 255, 0.438);
    --darken: inset 0 0 100px 100px rgba(136, 136, 136, 0.438);
    --navyToBlue: linear-gradient(to right, var(--navy), var(--blue));
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 80px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 25px;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-image: var(--navyToBlue);
    color: white;
    font-size: 1.5rem;
    border-bottom: 3px solid crimson;
}

.side-menu-opener {
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 4px;
}

.side-menu-opener:hover {
    box-shadow: var(--lighten);
}

.header-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.main {
    flex: 1;
    display: grid;
    grid-template-columns: 350px 1fr;
    background-color: var(--lightgray);
}

.sidebar {
    background-color: white;
    font-size: 1.3rem;
    padding: 10px 20px;
    overflow: auto;
}

.sidebar-title {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid var(--black);
    margin: 20px 0px;
    padding-bottom: 5px;
}

.sidebar-item {
    margin-bottom: 5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 5px 10px;
}

.sidebar-item:hover {
    box-shadow: var(--darken);
}

.hidden {
    display: none;
}

.active {
    background-image: var(--navyToBlue);
    border-left: 3px solid crimson;
    color: white;
}

.project {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
}

.project:hover {
    box-shadow: var(--darken);
}

.project {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 5px;
}

.menu-icon {
    width: 20px;
    height: max-content;
}

.project-form {
    justify-content: space-between;
    display: none; /*flex*/
}

.project-form-input {
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    height: 25px;
    width: 100%;
}

.project-form-button {
    border: none;
    padding: 5px 13px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.project-form-button.add {
    background: green;
}
.project-form-button.cancel {
    background: crimson;
}

.add-button {
    padding: 6px 20px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.add-button:hover {
    box-shadow: var(--darken);
}

.content {
    padding: 25px;
}

.content-title {
    background-image: var(--navyToBlue);
    color: white;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    border-radius: 3px;
}

.tasks {
    padding: 30px 0;
    font-size: 1rem;
    display: grid;
    gap: 10px;
}

.task-container {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    cursor: pointer;
    grid:
        'done title date importance delete' auto
        'details details details details details' auto
        / auto 1fr auto auto auto;
    column-gap: 15px;
}

.task-container #task-done {
    grid-area: done;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid #555;
    transform: translate(0, 2px);
    cursor: pointer;
}

.task-container #task-done:checked::before {
    content: '✓';
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    top: -12px;
}

.task-container .task-title {
    grid-area: title;
}

.task-container .due-date {
    grid-area: date;
}

.task-container #task-importance {
    grid-area: importance;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    top: -7px;
}

.task-container #task-importance::before {
    content: '\2606';
    font-size: 1.5rem;
    font-weight: 600;
}

.task-container #task-importance:checked::before {
    content: '\2605';
    font-size: 1.5rem;
    font-weight: 600;
    color: gold;
}

.task-container .delete-button {
    grid-area: delete;
}

.task-container .task-details {
    grid-area: details;
}

.task-form {
    background: white;
    padding: 15px;
}

.task-form input[type='text'],
.task-form input[type='date'],
.task-form textarea {
    outline: none;
    border: 2px solid black;
    resize: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 1rem;
}

.task-form input[type='text'],
.task-form input[type='date'] {
    height: 30px;
}

.task-form-button-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 15px;
}

.task-form-button-container .add,
.task-form-button-container .cancel {
    border: none;
    padding: 7px 17px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

.task-form-button-container .add:hover,
.task-form-button-container .cancel:hover {
    box-shadow: var(--lighten);
}

.task-form-button-container .add {
    background: green;
}

.task-form-button-container .cancel {
    background: crimson;
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 600px) {
    .main {
        grid-template-columns: 1fr;
    }
}
